/*
!.gitignore
!Awareness/
Awareness/*
!Awareness/app.py

!CSVDataParse/
CSVDataParse/*
!CSVDataParse/CSVDataParse
!CSVDataParse/CSVDataParse.sln

!DataStc/
DataStc/*
!DataStc/DataStc
!DataStc/DataStc.sln

!File_Watcher/
File_Watcher/*
!File_Watcher/File_Watcher
!File_Watcher/File_Watcher.sln

!OpenGLtest/
OpenGLtest/*
!OpenGLtest/OpenGLtest
!OpenGLtest/OpenGLtest.sln

!OpenGLtest2.0/
OpenGLtest2.0/*
!OpenGLtest2.0/OpenGLtest2.0
!OpenGLtest2.0/OpenGLtest2.0.sln